site_name: Sacred Gold and Storm Silver Wiki
site_description: A comprehensive wiki and Pokédex for the Sacred Gold and Storm Silver ROM hacks.
site_author: zhenga8533
site_url: https://zhenga8533.github.io/sgss-wiki/
edit_uri: edit/main/docs/
repo_name: zhenga8533/sgss-wiki
repo_url: https://github.com/zhenga8533/sgss-wiki
copyright: Copyright &copy; 2025 Allen Zheng
markdown_extensions:
  - admonition
  - attr_list
  - def_list
  - md_in_html
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji ''
      emoji_generator: !!python/name:material.extensions.emoji.to_svg ''
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      permalink: true
plugins:
  - git-committers:
      enabled: !ENV [CI, false]
      repository: zhenga8533/sgss-wiki
      branch: main
  - search
theme:
  name: material
  font:
    text: Roboto Mono
    code: Roboto Mono
  features:
    - content.tabs.link
    - navigation.footer
    - navigation.instant
    - navigation.sections
    - navigation.tabs
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.suggest
  palette:
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
extra_css:
  - stylesheets/extra.css
nav:
  - Getting Started:
      - Home: index.md
  - Changes:
      - Evolution Changes: changes/evolution_changes.md
  - Reference:
      - Action Replay Codes: reference/action_replay_codes.md
  - Locations:
  - Pokédex:
